<div class="forecast__location">
    <div class="forecast__location-container">
        <div class="forecast__location-info">{{ locationInfo.formattedAddress }}</div>
        <div class="forecast__location-about">6 Day Forecast</div>
    </div>
</div>
<div class="forecast__container">
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
    <app-forecast-slot></app-forecast-slot>
</div>