<div class="container">
    <div class="container__inner">
        <div class="time slot">6:00 PM</div>
        <div class="temperature slot">
            <div class="temperature__inner">
                <div class="temperature__number">78</div>
                <div class="temperature__type">°F</div>
            </div>
        </div>
        <div class="precipitation slot">
            <div class="precipitation__inner">
                <div class="precipitation__icon">
                    <weather-icons name="dtcloudy"></weather-icons>
                </div>
                <div class="precipitation__text">Cloudy</div>
            </div>
        </div>
    </div>
</div>
