@import '_base';

.search {
    width: $nav-width;
    height: 1.5rem;
    border: none;
    font-size: .8rem;
    color: $lowopacity-navydark;
    padding-left: .5rem;
    @include outline;
    &__container {
        position: relative;
        height: 3.5rem;
        min-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: absolute;
        height: .85rem;
        width: .85rem;
        left: 17.5rem;
        bottom: 1.45rem;
        
        &-size {
            height: 100%;
            width: 100%;
        }

        &-fill { 
            fill: $lowopacity-navydark;
        }
    }
}