<div class="container">
  <div class="container__background"></div>
  <div class="header__main-container">
    <h1 class="header__main">Just Another Weather App</h1>
  </div>
  <nav class="nav__container">
    <div class="nav__items">
      <app-search-bar></app-search-bar>
      <div class="nav__option-container">
        <a 
          [routerLink]="['today']"
          class="nav__option nav__option-active">Today</a>
        <a 
          [routerLink]="['tenday']"
          class="nav__option">10 Day</a>
      </div>
    </div>

  </nav>
  <!-- <div class="content__container"> -->
    <router-outlet></router-outlet>
    <footer class="footer__container">
      <div class="footer">Created by <a class="footer footer__link" href="www.nicobartholomew.com">Nico Bartholomew</a></div>
    </footer>
  <!-- </div> -->
</div>