$font-main: 'Montserrat', sans-serif;
$navy-dark: rgb(33, 51, 85);
$navy-medium: rgb(68, 84, 110);
$navy-light: rgb(178, 193, 220);
$navy-extralight: rgb(223, 230, 247);
$gold-dark: rgb(83, 73, 9);
$gold-medium: rgb(155, 145, 88);
$gold-light: rgb(211, 200, 143);
$white: rgb(255, 255, 255);

.container {
    font-family: $font-main;
    min-width: 100%;
    min-height: 100%;
}

.header {
    

    &__main {
        font-size: 1rem;
        
        &-container {
            min-width: 100%;
            height: 2.5rem;
            display: flex;
            justify-content: center;
            align-items: center;

        }
    }
}

.search {
    width: 14rem;
    height: 1.5rem;
    border: none;
    font-size: .8rem;
    color: rgba(33, 51, 85, .7);
    padding-left: .5rem;
    outline-color: $gold-medium;
    outline-width: thin;
    &__container {
        position: relative;
        height: 3.5rem;
        min-width: 100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: absolute;
    }
}

.nav {

    &__container {
        background: linear-gradient($navy-light, $navy-medium);
        height: 5.5rem;
        min-width: 100%;
    }
}
@media only screen and (max-width: 600px) {

}