<div class="container">
  <div class="container__background"></div>
  <div class="header__main-container">
    <h1 class="header__main">Just Another Weather App</h1>
  </div>
  <nav class="nav__container">
    <app-search-bar></app-search-bar>

  </nav>
  <div class="content__container">
    <router-outlet></router-outlet>
    <footer class="footer__container">
      <div class="footer">Created by <a class="footer footer__link" href="www.nicobartholomew.com">Nico Bartholomew</a></div>
    </footer>
  </div>
</div>