<div class="container container__day">
    <div class="current__container">
        <div class="current__header">
            <div class="current__location">Madison, WI 53705</div>
            <div class="current__date">Monday, December 15</div>
            <div class="current__time">5:55 PM</div>
        </div>
        <div class="current__temperature">
            <div class="current__temperature-number">78</div>
            <div class="current__temperature-type">°F</div>
        </div>
        <div class="current__precipitation">
            <div class="precipitation__icon-container">
                <weather-icons class="precipitation__icon" name="dtsunny"></weather-icons>
            </div>
            <div class="current__precipitation-text">Cloudy</div>
        </div>
    </div>
    <div class="forecast">
        <app-forecast-weather></app-forecast-weather>
    </div>
</div>
